[user]
	name = Lasse
	email = haugen.lasse@gmail.com
[github]
	user = lasseh
[gist]
	private = yes
[core]
	excludesfile = ~/.config/git/.gitignore_global
	editor = vim
	pager = less -R
	autocrlf = input
	safecrlf = true

[init]
	defaultBranch = main

[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[pull]
	rebase = false

[push]
	default = simple
	followTags = true

[diff]
 tool = vimdiff
 context = 3
 renames = true
 wordRegex = '[^[:space:]]+'

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	df = diff
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset HEAD --
	last = log -1 HEAD
	history = log -p --
	changes = diff @{1}..

[merge]
	tool = vimdiff
	conflictstyle = diff3

[help]
	autocorrect = 1
